@font-face {
    font-family: 'Museo-700';
    src: url('Museo-700.woff2') format('woff2'),
        url('Museo-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans-900Italic';
    src: url('MuseoSans-900Italic.woff2') format('woff2'),
        url('MuseoSans-900Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo-500';
    src: url('Museo-500.woff2') format('woff2'),
        url('Museo-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans-700';
    src: url('MuseoSans-700.woff2') format('woff2'),
        url('MuseoSans-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo-900';
    src: url('Museo-900.woff2') format('woff2'),
        url('Museo-900.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans-700Italic';
    src: url('MuseoSans-700Italic.woff2') format('woff2'),
        url('MuseoSans-700Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo-900Italic';
    src: url('Museo-900Italic.woff2') format('woff2'),
        url('Museo-900Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo-700Italic';
    src: url('Museo-700Italic.woff2') format('woff2'),
        url('Museo-700Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans-500';
    src: url('MuseoSans-500.woff2') format('woff2'),
        url('MuseoSans-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans-900';
    src: url('MuseoSans-900.woff2') format('woff2'),
        url('MuseoSans-900.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo-300';
    src: url('Museo-300.woff2') format('woff2'),
        url('Museo-300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

